/*0.5625*/

@media all and (max-aspect-ratio: 1/1) {

    /*Navigation mobile */
    #menuButton {
        position: fixed;
        left: 5vw;
        top: 7vw;
        width: 10vw;
        z-index: 3;
        /*background-color: #F4F5F8;*/
        content: url("res/hamburgerMenu_black.png");
    }

    #navMob #menu {
        position: fixed;
        border-style: groove;
        background-color: black;
        border-color: #F5F5F5;
        border-width: 0.22vw;
        width: 12vw;
        left: 3.53vw;
        top: 5.02vw;
        z-index: 3;
    }

    #navMob ul {
        padding: 1vw 0vw 1vw 2vw;
        font-size: 2.5vw;
        display: none;
        list-style: none;
        z-index: 3;
        text-decoration: none;
    }

    #navMob ul a {
        color: black;
        text-decoration: none;
        z-index: 3;
    }

    #navMob ul li:nth-child(1) {
        margin-top: 0.5vw;
    }

    #navMob ul li {
        margin: 2.5vw 0vw 2.5vw 0vw;

    }

    #navMob ul li:nth-child(6) {
        margin-bottom: 0.5vw;
    }

    #navMob ul li a {
        font-size: 2.2vw;
        color: white;
        font-family: AvenirBook;
        z-index: 3;
    }

    /*Navigation mobile end*/
    .nav_flex {
        display: flex;
        flex-basis: 0;
        justify-content: space-between;
        margin-top: 2.3vw;
        margin-left: 9.5vw;
        margin-right: 9.5vw;
        height: 8.3vw;
        max-height: 10.25vw;
    }

    .nav_flex_div0 {
        visibility: hidden;
        width: 6vw;
        position: relative;
        border-bottom: 0.1vw solid black;
        transform: translateY(-45%);
        color: black;
    }

    .nav_flex_div1 {
        visibility: hidden;
        width: 6vw;
        position: relative;
        border-bottom: 0.1vw solid black;
        transform: translateY(-45%);
    }

    .nav_flex_div0 span {
        visibility: hidden;
        position: absolute;
        bottom: 0.518vw;
    }

    .nav_flex_div1 span {
        visibility: hidden;
        position: absolute;
        right: 0;
        bottom: 0.518vw;
    }

    .logo {
        width: 20vw;
        height: auto;
    }

    .logoImage {
        width: 100%;
        height: auto;
        color: black;
    }
}

@media all and (min-aspect-ratio: 1/1) {

    nav {
        font-size: 1.4vw;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .nav_flex {
        display: flex;
        flex-basis: 0;
        justify-content: space-between;
        margin-top: 2.3vw;
        margin-left: 9.5vw;
        margin-right: 9.5vw;
        height: 8.3vw;
        max-height: 10.25vw;
    }

    .nav_flex_div0 {
        width: 6vw;
        position: relative;
        border-bottom: 0.1vw solid black;
        transform: translateY(-45%);
        color: black;
    }

    .nav_flex_div0:hover {
        position: relative;
        border-bottom: 0.1vw solid #928F1B;
        color: #928F1B;
    }

    .nav_flex_div1 {
        width: 6vw;
        position: relative;
        border-bottom: 0.1vw solid black;
        transform: translateY(-45%);
    }

    .nav_flex_div1:hover {
        position: relative;
        border-bottom: 0.1vw solid #928F1B;
        color: #928F1B;
    }

    .nav_flex_div0 span {
        position: absolute;
        bottom: 0.518vw;
    }

    .nav_flex_div1 span {
        position: absolute;
        right: 0;
        bottom: 0.518vw;
    }

    .logo {
        width: 10vw;
        height: auto;
        cursor: pointer;
    }

    .logoImage {
        width: 100%;
        height: auto;
        color: black;
    }
}
